h1 {
    text-align: center;
    color: #0077c9;
    font-size: 36px;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

a {
    color: #0077c9;
    text-decoration: none;
    font-weight: bold;
}


/* Add this to your CSS file to style the hover box */
.hover-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.d-flex:hover .hover-box {
    display: block;
}
